* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #D1DAE3;
    height: 100vh;
}

body[dark] {
    background-color: #000000;
}

header {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

#jogador, #area-reiniciar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

#jogador {
    width: 40%;
    color: #000000;
}

#vez-jogar {
    color: #000000;
}

body[dark] #jogador {
    color: #ffffff;
}

body[dark] #vez-jogar {
    color: #ffffff;
}

#area-reiniciar {
    width: 46%;
    padding-right: 50px;
}

#btn-reiniciar {
    background-color: green;
    width: 100px;
    height: 25px;
}

section {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabuleiro {
    width: 31vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    grid-column-gap: 0.5vw;
    grid-row-gap: 0.5vw;
    background-color: #161616;
    box-shadow: #161616 0px 0px 20px 4px;
}

.posicao {
    background-color: #c8d8e9;
}

body[dark] .tabuleiro {
    box-shadow: #D1DAE3 0px 0px 20px 4px;
    // background-color: #D1DAE3;
}

// body[dark] .posicao {
//     // box-shadow: #ffffff 0px 0px 20px 4px;
//     background-color: #161616;
// }

#modal {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    background-color:rgba(0,0,0,0.8);
}

#moldura-modal {
    width: 40vw;
    height: 50vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

#titulo-modal {
    height: 10vh;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

#escolha {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    input {
        width: 10vw;
        height: 25vh;
    }
    background-color: blue;
}
